<h1> Niedziela - strona glowna </h1>
{% if user.is_authenticated %}
<h2> Trzy ostatnie wpisy </h2>
<div>
    <form action="" method="GET"> {{ form.as_p }} <input type="submit" value="szukaj">
    </form>
</div>
<table>
    <thead><tr><td>Tytuł</td><td>Data</td></tr></thead>
    <tbody>
    {% for entry in entries %}
       <tr><td> <a href="{% url 'entry_detail' entry.id %}"> {{ entry.title }} </a> </td> <td>{{ entry.publication_datetime|date:"Y-m-d H:m:s" }} </td></tr>
    {% endfor %}
    </tbody>
</table>

<h2> Lista kategorii </h2>
<a href="{% url 'category_create' %}"> Dodaj kategorię</a>
<table>
    <thead><tr><td>Nazwa</td><td>Ilość wpisów</td></tr></thead>
    <tbody>
    {% for category in categories %}
       <tr><td>{{ category.name }}</td> <td> {{ category.entry_set.count }} </td><td><a href="{% url 'category_update' category.id %}"> Edytuj </a> </td></tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

