<h1> Niedziela - strona glowna </h1>
<h2> Trzy ostatnie wpisy </h2>
<div>
    <form action="" method="GET"> {{ form.as_p }} <input type="submit" value="szukaj">
    </form>
</div>
<table>
    <thead><tr><td>Tytul</td><td>Date</td></tr></thead>
    <tbody>
    {% for entry in entries %}
        <tr><td><a href="{% url 'entry_detail' entry.id %}"> {{ entry.title }} </a> </td> <td>{{ entry.publication_datetime|date:"Y-m-d H:m:s" }}</td></tr>
    {% endfor %}
    </tbody>
</table>

<h2> Lista kategorii </h2>
<table>
    <thead><tr><td>Nazwa</td><td>Ilosc wpisow</td></tr></thead>
    <tbody>
    {% for category in categories %}
        <tr><td>{{ category.name }}</td> <td>{{ category.entry_set.count }}</td></tr>
    {% endfor %}
    </tbody>
</table>
